body {
    background-color: #0d0d0d;
    padding-bottom: 50px;
}

h1 {
    color: #FFFF;
}

.header_logo {
    width: 100%;
    height: auto;
    background-color: #0d0d0d;
    display: flex;
    align-items: center;
    justify-content: center;
}

/** aumentando o tamanho da logo*/
.header_logo img {
    height: 10vh;
}

.background-img-top {
    background-image: url(img/banner.png);
}

/* .init-text {
    margin-top: 87px;
    margin-right: 0px;
    margin-bottom: 86px;
    margin-left: 100px;
} */

.header_infos {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: #F1F3F5;
}

.text-caps {
    font-family: Poppins;
    font-size: 20px;
    color: #F1F3F5;
}

.text-non-caps {
    font-family: Poppins;
    font-size: 18px;
    color: #F1F3F5;
}

.temporadas {
    font-family: Poppins;
    font-size: 20px;
    color: #F1F3F5;
    margin-bottom: 43px;
}

.temp-temp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
}

.temp-all,
.temp-1,
.temp-2,
.temp-3 {
    font-family: Poppins;
    font-size: 16px;
    color: #F1F3F5;
}

.margin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 50px;
    gap: 10px;
    left: 270px;
    border: 2px solid #FFFFFF;
    border-radius: 32px;
}